<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- queryParams to add sign "?" -->
      <!-- fragment to add sign "#" -->
      <a
        [routerLink]="['/servers',server.id]"
        [queryParams]="{allowEdit: server.id}"
        [fragment]="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onReload()">Reload</button>
    <!-- using /servers is relative path using servers is fixed path -->
    <!-- <a routerLink="/servers">Reload Page</a> -->
    <app-edit-server></app-edit-server>
    <hr>
    <!-- <app-server></app-server> -->
  </div>
</div>

